<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skada.api.mapper.LeaderboardMapper">

    <resultMap id="BaseMap" type="com.skada.api.model.Leaderboard">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="max_query_users" property="maxQueryUsers"/>
        <result column="allow_duplicate_report" property="allowDuplicateReport"/>
        <result column="allow_history_query" property="allowHistoryQuery"/>
        <result column="roll_strategy" property="rollStrategy"/>
        <result column="roll_user_count" property="rollUserCount"/>
        <result column="status" property="status"/>
        <result column="current_instance_id" property="currentInstanceId"/>
    </resultMap>

    <select id="findById" resultMap="BaseMap">
        SELECT id, tenant_id, name, start_time, end_time, max_query_users,
               allow_duplicate_report, allow_history_query, roll_strategy, roll_user_count, status, current_instance_id
        FROM leaderboard_plan WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE leaderboard_plan
        SET current_instance_id = #{currentInstanceId}
        WHERE id = #{id}
    </update>

</mapper>
